
.vs/NLinq/v15/.suo
.vs/NLinq/v15/Server/sqlite3/db.lock
.vs/NLinq/v15/Server/sqlite3/storage.ide
.vs/NLinq/v15/Server/sqlite3/storage.ide-shm
.vs/NLinq/v15/Server/sqlite3/storage.ide-wal
NLinq/obj/Debug/netcoreapp2.2/NLinq.assets.cache
NLinq/obj/Debug/netcoreapp2.2/NLinq.csproj.CoreCompileInputs.cache
NLinq/obj/Debug/netcoreapp2.2/NLinq.csproj.FileListAbsolute.txt
NLinq/obj/Debug/netcoreapp2.2/NLinq.csprojAssemblyReference.cache
NLinq/obj/Debug/netcoreapp2.2/NLinq.dll
NLinq/obj/Debug/netcoreapp2.2/NLinq.pdb
NLinq/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NLinq/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NLinq/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NLinq/obj/Debug/netcoreapp2.2/NLinq.AssemblyInfo.cs
NLinq/obj/Debug/netcoreapp2.2/NLinq.AssemblyInfoInputs.cache
NLinq/obj/NLinq.csproj.nuget.cache
NLinq/obj/NLinq.csproj.nuget.g.targets
NLinq/obj/NLinq.csproj.nuget.g.props
NLinq/obj/project.assets.json
NLinqTest/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
NLinqTest/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
NLinqTest/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
NLinqTest/bin/Debug/netcoreapp2.2/NLinq.dll
NLinqTest/bin/Debug/netcoreapp2.2/NLinq.pdb
NLinqTest/bin/Debug/netcoreapp2.2/NLinqTest.deps.json
NLinqTest/bin/Debug/netcoreapp2.2/NLinqTest.dll
NLinqTest/bin/Debug/netcoreapp2.2/NLinqTest.pdb
NLinqTest/bin/Debug/netcoreapp2.2/NLinqTest.runtimeconfig.dev.json
NLinqTest/bin/Debug/netcoreapp2.2/NLinqTest.runtimeconfig.json
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.AssemblyInfo.cs
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.AssemblyInfoInputs.cache
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.assets.cache
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.csproj.CopyComplete
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.csproj.CoreCompileInputs.cache
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.csproj.FileListAbsolute.txt
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.csprojAssemblyReference.cache
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.dll
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.pdb
NLinqTest/obj/Debug/netcoreapp2.2/NLinqTest.Program.cs
NLinqTest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NLinqTest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NLinqTest/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NLinqTest/obj/NLinqTest.csproj.nuget.cache
NLinqTest/obj/NLinqTest.csproj.nuget.g.props
NLinqTest/obj/NLinqTest.csproj.nuget.g.targets
NLinqTest/obj/project.assets.json
